@charset "utf-8";

ul.menu {
	display:block;
	background-color:floralwhite;
	border:1px solid #660000;
	height:2em;
}
ul.menu li {
	float:left;
	line-height:2em;
	padding-left:1em;
}
ul.menu a {
	text-decoration: none;
	color:#660000;
}
ul.menu a:hover {
	text-decoration: underline;
}
